@use '../Utils/' as u;

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    text-align: center;
    color: var(--blending_blue)
}
button{
    border: 2px solid var(--blending_blue);
    border-radius: 5px;
    padding: 3px 8px;
    font-family: u.$font;
    font-weight: bolder;
    float: right;
    margin-top: 30px;
    margin-bottom: 15px;
    a{
        font-size: 15px;
        text-decoration: none;
        color: var(--blackColor)
    }
}